.formControl {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
  width: 35%;
  text-align: center;
  /* font-family: "Courier New", Courier, monospace; */
  margin-bottom: 30px !important;
  /* background-color: rgb(228, 22, 22); */
  /* text-decoration: aquamarine; */
}
