.container {
  display: flex;
  justify-content: center;
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 90%);
  color: white;
  width: 100%;
  justify-content: center;
  padding: 1vh;
  margin: 0vh;
}

.list {
  li {
    display: inline-block;
    a {
      color: #cccccc;
      font-size: 14px;
      @include transition;
    }
  }
}
