body {
  background-color: rgb(250, 250, 250);
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  background: whitesmoke; /* Chrome 10-25, Safari 5.1-6 */
}
.image {
  width: 370px;
  margin-top: 50px;
}

.img {
  width: 100%;
  display: block;
  text-align: center;
  padding: 1vh;
  /* background-color: lightgray; */
}
@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 100%;
  }
}
