.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  background: #bdc3c7; /* fallback for old browsers */
  background-color: whitesmoke;
}
.image {
  width: 370px;
  margin-top: 50px;
}

.img {
  width: 100%;
  display: block;
  text-align: center;
  padding: 1vh;
  /* background-color: lightgray; */
}
@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
  .image {
    width: 100%;
  }
}
