.infectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0%;
  width: 100%;
  color: aliceblue;

  height: 100vh;
  background-color: #537895;
  background-image: linear-gradient(315deg, #537895 0%, #09203f 90%);
}
.dash {
  color: peachpuff;
  text-decoration: underline solid;
  font-size: 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
